In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from utils.read_dataset import read

/tmp/ipykernel_7228/1220005565.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
dataset = pd.read_csv("../Life-Expectancy-Data.csv")

raw_data = dataset.values

cols = range(0, 21)
X = raw_data[:, cols]
attributeNames = np.asarray(dataset.columns[cols])
dataset

,Country,Region,Year,Infant_deaths,Under_five_deaths,Adult_mortality,Alcohol_consumption,Hepatitis_B,Measles,BMI,...,Diphtheria,Incidents_HIV,GDP_per_capita,Population_mln,Thinness_ten_nineteen_years,Thinness_five_nine_years,Schooling,Economy_status_Developed,Economy_status_Developing,Life_expectancy
0,Turkiye,Middle East,2015,11.1,13.0,105.8240,1.320,97,65,27.8,...,97,0.08,11006,78.53,4.9,4.8,7.8,0,1,76.5
1,Spain,European Union,2015,2.7,3.3,57.9025,10.350,97,94,26.0,...,97,0.09,25742,46.44,0.6,0.5,9.7,1,0,82.8
2,India,Asia,2007,51.5,67.9,201.0765,1.570,60,35,21.2,...,64,0.13,1076,1183.21,27.1,28.0,5.0,0,1,65.4
3,Guyana,South America,2006,32.8,40.5,222.1965,5.680,93,74,25.3,...,93,0.79,4146,0.75,5.7,5.5,7.9,0,1,67.0
4,Israel,Middle East,2012,3.4,4.3,57.9510,2.890,97,89,27.0,...,94,0.08,33995,7.91,1.2,1.1,12.8,1,0,81.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2859,Niger,Africa,2000,97.0,224.9,291.8240,0.092,72,64,20.8,...,34,0.49,399,11.33,12.8,12.9,1.1,0,1,49.9
2860,Mongolia,Asia,2009,23.9,28.6,235.2330,6.560,97,97,25.3,...,95,0.02,2515,2.67,2.2,2.3,9.1,0,1,66.9
2861,Sri Lanka,Asia,2004,17.7,28.9,134.8950,1.560,62,95,21.9,...,97,0.02,2130,19.39,15.4,15.5,10.3,0,1,74.3
2862,Lithuania,European Union,2002,7.9,9.9,204.0120,11.000,94,95,26.1,...,95,0.05,7424,3.44,3.3,3.3,11.1,1,0,71.8
2863,Iceland,Rest of Europe,2011,2.1,2.6,50.5745,6.840,88,90,26.1,...,95,0.05,48934,0.32,0.9,0.9,11.0,1,0,82.4

In [12]:
for name in attributeNames:
    if dataset[name].dtype == "object":
        continue
    npData = np.array(dataset[name])
    z = ((npData-npData.mean())/npData.std())
    print("Attribute:" + name)
    print("Z-score", float(z))
    #print("Mean: ", dataset[name].mean())
    #print("Mode",dataset[name].mode().values[0])
    #print("variance: ", dataset[name].var())
    print("Standard Deviation",dataset[name].std())
    #print("Range: [", min(dataset[name]), ", ", max(dataset[name]),"]")

Attribute:Year
Z-score 1.4210854715202004e-14
Standard Deviation 4.610577218127591
Attribute:Infant_deaths
Z-score 2.5579538487363607e-13
Standard Deviation 27.538116569681545
Attribute:Under_five_deaths
Z-score -2.1316282072803006e-13
Standard Deviation 44.569973500451695
Attribute:Adult_mortality
Z-score 1.1013412404281553e-13
Standard Deviation 114.91028117106109
Attribute:Alcohol_consumption
Z-score 1.0658141036401503e-14
Standard Deviation 3.981948599597707
Attribute:Hepatitis_B
Z-score 3.588240815588506e-13
Standard Deviation 15.995511104857902
Attribute:Measles
Z-score -4.014566457044566e-13
Standard Deviation 18.659692687455433
Attribute:BMI
Z-score -2.547295707699959e-12
Standard Deviation 2.193904893064857
Attribute:Polio
Z-score 5.151434834260726e-13
Standard Deviation 15.080364525423217
Attribute:Diphtheria
Z-score -3.055333763768431e-13
Standard Deviation 15.53422480684869
Attribute:Incidents_HIV
Z-score 1.5987211554602254e-13
Standard Deviation 2.3813894765356474
Attribute:GDP_per_capita
Z-score 1.2434497875801753e-13
Standard Deviation 16934.788930970502
Attribute:Population_mln
Z-score -7.105427357601002e-15
Standard Deviation 136.48586695701923
Attribute:Thinness_ten_nineteen_years
Z-score 4.298783551348606e-13
Standard Deviation 4.438233700443418
Attribute:Thinness_five_nine_years
Z-score 6.750155989720952e-14
Standard Deviation 4.52521672600251
Attribute:Schooling
Z-score -3.232969447708456e-13
Standard Deviation 3.171555639406584
Attribute:Economy_status_Developed
Z-score -1.6342482922482304e-13
Standard Deviation 0.4050119487490214
Attribute:Economy_status_Developing
Z-score -4.192202140984591e-13
Standard Deviation 0.4050119487490214
Attribute:Life_expectancy
Z-score 1.708855279503041e-12
Standard Deviation 9.405607944521499